@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Shopping Cart </h1>
    <img src='https://tse3.mm.bing.net/th?id=OIP.Q_Kn9MUl6mlHLJXDbNiOzQHaH3&pid=Api&P=0' />
    <style>
        body{
        }
    </style>
</div>
