@model IEnumerable<Category>

<ul class="list-group">
    
    <img src="https://cdn-icons-png.flaticon.com/512/34/34627.png" height="100px" width="100px" "center" \>



        <li class="list-group-item">
                <a class="nav-link text-dark" asp-controller="Products" asp-action="Index" asp-route-categorySlug="">All Products</a>
        </li>
    
        @foreach (var item in Model)
        {
                <li class="list-group-item">
                        <a class="nav-link text-dark" asp-controller="Products" asp-action="Index" asp-route-categorySlug="@item.Slug">@item.Name</a>
                </li>
        }
</ul>